@model List<Domain.Support>
@using Service.Helpers;
@using (Html.BeginForm())
{ 
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý >> Hỗ Trợ Trực Tuyến</h1>
            <div class="buttons">
                @Html.ActionLink("+ Thêm Mới Hỗ Trợ Trực Tuyến", "Create", null, new { @class = "t-button" })
                <input type="submit" name="Delete" value="Xóa Hỗ Trợ Trực Tuyến" class="t-button" />
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                @(Html.Telerik().Grid(Model)
        .Name("Grid")
                 .DataKeys(keys => keys.Add(c => c.ID))

        .Columns(columns =>
        {
            columns.Bound(o => o.Name).Template(@<text>@Html.ActionLink(@item.Name, "Edit", new { id = @item.ID })</text>);
            columns.Bound(o => o.Value).Width("20%");
            columns.Bound(o => o.Type).Title("Loại hỗ trợ").HeaderHtmlAttributes(new { style = "text-align:center" }).Width("7%").Template(@<text>
                @switch (item.Type)
                {
                    case 1:
                    <img title="" alt="" src="/images/icon_yahoo.png" />
                        break;
                    case 2:
                    <img title="" alt="" src="/images/icon_skype.png" />
                        break;
                    case 4:
                    <img title="" alt="" src="/images/icon_phone.png" style="background-color: cornflowerblue;"/>
                        break;
                    case 8:
                    <img title="" alt="" src="/images/btn_mail.png" />
                        break;
                }
                </text>).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.Order).Title("Thứ tự").Width("4%").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.CreatedDate).Title("Ngày tạo").Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { style = "text-align:center" }).Width("10%").HtmlAttributes(new { style = "text-align:center" });
            //columns.Bound(o => o.User.Email).Title("Tạo bởi").Width("10%").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.IsActive).Title("Trạng thái").HeaderHtmlAttributes(new { style = "text-align:center" }).Width("8%").HtmlAttributes(new { style = "text-align:center" });

            columns.Template(@<text><input name="checkedRecords" id="checkedRecords" type="checkbox"  value="@item.ID " title="checkedRecords"/></text>)
                    .HeaderTemplate(@<text><input type="checkbox" title="check all records" id="checkAllRecords" /></text>)
                    .Width("4%")
                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                    .HtmlAttributes(new { style = "text-align:center" });


        }).Pageable(paging => paging.PageSize(50)).Sortable(sorting => sorting.OrderBy(sortOrder
                            => sortOrder.Add(o => o.CreatedDate).Descending())))
            </div>
        </div>
    </div>
}
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> $('#checkAllRecords').click(function
    checkAll() { $("#Grid tbody #checkedRecords").attr("checked", this.checked); });
    </text>); }
