@model List<Domain.National>
@using (Html.BeginForm())
{  <div class="box">
    <div class="heading">
        <h1>
            <img alt="" src="/Content/Administrator/Images/category.png">
            Quản Lý >> Quốc Gia</h1>
        <div class="buttons">
            @Html.ActionLink("+ Thêm Mới Quốc Gia", "Create", null, new { @class = "t-button" })
            <input type="submit" name="Delete" value="Xóa Quốc Gia" class="t-button" />
        </div>
    </div>
    <div class="content">
        <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
            clear: both;">
            @(Html.Telerik().Grid(Model)
        .Name("Grid")
                 .DataKeys(keys => keys.Add(c => c.ID))

        .Columns(columns =>
        {
            columns.Bound(o => o.Name).Template(@<text>@Html.ActionLink(@item.Name, "Edit", new { id = @item.ID })</text>);
            columns.Bound(o => o.Order).Width("4%").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.CreatedDate).Title("Ngày tạo").Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { style = "text-align:center" }).Width("10%").HtmlAttributes(new { style = "text-align:center" });
            //columns.Bound(o => o.User.Email).Title("Tạo bởi").Width("10%");
            columns.Bound(o => o.IsActive).HeaderHtmlAttributes(new { style = "text-align:center" }).Width("8%").HtmlAttributes(new { style = "text-align:center" });
            columns.Template(@<text><input name="checkedRecords" id="checkedRecords" type="checkbox"  value="@item.ID " title="checkedRecords"/></text>)
                  .HeaderTemplate(@<text><input type="checkbox" title="check all records" id="checkAllRecords" /></text>)
                  .Width("4%")
                  .HeaderHtmlAttributes(new { style = "text-align:center" })
                  .HtmlAttributes(new { style = "text-align:center" });


        })
       .Pageable(paging => paging.PageSize(50))
       .Sortable(sorting => sorting
       .OrderBy(sortOrder => sortOrder.Add(o => o.CreatedDate).Descending()))
)
        </div>
    </div>
    </div>
}
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> $('#checkAllRecords').click(function
    checkAll() { $("#Grid tbody #checkedRecords").attr("checked", this.checked); });
    </text>); }
