@model List<Domain.Contact>
@using (Html.BeginForm())
{
    
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Liên Hệ >> Danh Sách Liên Hệ</h1>
            <div class="buttons">
                <input type="submit" name="Delete" value="Xóa Liên Hệ" class="t-button" />
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                @(Html.Telerik().Grid(Model)
.Name("Grid")
         .DataKeys(keys => keys.Add(c => c.ContactID))
        .Columns(columns =>
        {
            columns.Bound(o => o.FullName).Template(@<text>@Html.ActionLink(@item.FullName, "Edit", new { id = @item.ContactID })</text>);
            columns.Bound(o => o.Email).Width("15%").HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(o => o.Phone).Width("10%").HtmlAttributes(new { style = "text-align:left" });
            columns.Bound(o => o.CreatedDate).Format("{0:dd/MM/yyyy}").Width("10%");
            columns.Bound(o => o.Isprocessing).Width("10%").HtmlAttributes(new { style = "text-align:center" });
            columns.Template(@<text><input name="checkedRecords" id="checkedRecords" type="checkbox"  value="@item.ContactID " title="checkedRecords"/></text>)
                   .HeaderTemplate(@<text><input type="checkbox" title="check all records" id="checkAllRecords" /></text>)
                   .Width("4%")
                   .HeaderHtmlAttributes(new { style = "text-align:center" })
                   .HtmlAttributes(new { style = "text-align:center" });
        })
          .Pageable(paging => paging.PageSize(50))
            .Sortable(sorting => sorting
          .OrderBy(sortOrder => sortOrder.Add(o => o.CreatedDate).Descending()))
   )
            </div>
        </div>
    </div>
}
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> $('#checkAllRecords').click(function
    checkAll() { $("#Grid tbody #checkedRecords").attr("checked", this.checked); });
    </text>); }
