@model Website.Areas.Administrator.Models.Comfort.CreateComfortModel
@{
    ViewBag.Title = "Quản Lý >> Thêm Mới Tiện Nghi";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{ 
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý >> Thêm Mới Tiện Nghi</h1>
            <div class="buttons">
                <input type="submit" value="+ Thêm Mới Tiện Nghi" class="t-button" />
                @Html.ActionLink("Danh Sách Tiện Nghi", "Index", null, new { @class = "t-button" })
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Name)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Name)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Description)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.Description)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.KeyWord)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.KeyWord)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Order)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Order, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsActive)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsActive)
                        </td>
                    </tr>
                </table>
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
}
