@model Website.Areas.Administrator.Models.Config.CreateConfigModel
@{
    ViewBag.Title = "Thêm Mới Cấu Hình";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml"; }
<div class="uiHeader mhl">
    <h2 class="uiHeaderTitle">
        Thêm Mới Cấu Hình
    </h2>
</div>
<div class="pal grayArea uiBoxGray noborder">
    @using (Html.BeginForm("Create", "Config"))
    {
        <table class="uiInfoTable" cellpadding="2" cellspacing="0">
            <tr class="dataRow">
                <td class="label">
                    @Html.LabelFor(r => r.Type)<span class="star">(*)</span>
                </td>
                <td class="dot">
                    :
                </td>
                <td class="data">
                    @Html.DropDownListFor(u => u.Type, Model.ListType, "[ --- Chọn loại dữ liệu --- ]")
                </td>
            </tr>
            <tr class="dataRow">
                <td class="label">
                    @Html.LabelFor(r => r.Name)<span class="star">(*)</span>
                </td>
                <td class="dot">
                    :
                </td>
                <td class="data">
                    @Html.TextBoxFor(r => r.Name)
                </td>
            </tr>
            <tr class="dataRow">
                <td class="label">
                    @Html.LabelFor(r => r.Value)<span class="star">(*)</span>
                </td>
                <td class="dot">
                    :
                </td>
                <td class="data">
                    @Html.TextAreaFor(r => r.Value)
                </td>
            </tr>
            <tr class="dataRow">
                <td class="label">
                    @Html.LabelFor(r => r.IsActive)
                </td>
                <td class="dot">
                    :
                </td>
                <td class="data">
                    @Html.CheckBoxFor(r => r.IsActive)
                </td>
            </tr>
            <tr class="spacer">
                <td colspan="3">
                    <hr />
                </td>
            </tr>
            <tr class="dataRow">
                <td class="label">
                </td>
                <td class="button" colspan="2">
                    <input type="submit" value="Thêm Mới Cấu Hình" class="t-button" />
                    @Html.ActionLink("Danh Sách Cấu Hình", "Index", "Config", null, new { @class = "t-button" })
                </td>
            </tr>
        </table>
        @Html.ValidationSummary(false)
        
    }
</div>
