@model Website.Areas.Administrator.Models.Config.CreateConfigSocialModel
@{
    ViewBag.Title = "Cấu Hình Liên Kết Mạng Xã Hội";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{ 
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Cấu Hình Liên Kết Mạng Xã Hội</h1>
            <div class="buttons">
                <input type="submit" value="Lưu Thay Đổi" class="t-button" />
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Facebook)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Facebook)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Twitter)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Twitter)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.GooglePlus)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.GooglePlus)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Youtube)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Youtube)
                        </td>
                    </tr>
                </table>
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
  
    
}
