@model Website.Areas.Administrator.Models.ApartmentPrice.CreateApartmentPriceModel
@{
    ViewBag.Title = "Thêm Mới Giá Căn Hộ Theo Ngày";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{ 
    
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý Căn Hộ >> @ViewBag.ApartmentName >> Thêm Mới Giá Căn Hộ Theo Ngày
            </h1>
            <div class="buttons">
                <input type="submit" value="+ Thêm Mới Giá Căn Hộ Theo Ngày" class="t-button" />
                @Html.ActionLink("Danh Sách Căn Hộ", "Index", "Apartment", null, new { @class = "t-button" })
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Description)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.Description)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.FromDate)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(p => p.FromDate, new { @class = "numerictextBox" })
                            <script type="text/javascript">
                                $(function () {
                                    $("#FromDate").datepicker({
                                        altFormat: "DD, dd/mm/yy",
                                        dateFormat: 'dd/mm/yy',
                                        numberOfMonths: 2,
                                        showButtonPanel: true,

                                        showOn: "button",
                                        buttonImage: "/Content/Administrator/images/calendar.gif",
                                        buttonImageOnly: true,
                                        minDate: new Date(),
                                        onSelect: function (selectedDate) {
                                            var newDate = $(this).datepicker('getDate');
                                            if (newDate) { // Not null
                                                newDate.setDate(newDate.getDate() + 1);
                                            }
                                            $("#ToDate").datepicker("option", "minDate", newDate);
                                        }
                                    });
                                    $("#ToDate").datepicker({
                                        altFormat: "DD, dd/mm/yy",
                                        numberOfMonths: 2,
                                        showOn: "button",
                                        dateFormat: 'dd/mm/yy',
                                        buttonImage: "/Content/Administrator/images/calendar.gif",
                                        buttonImageOnly: true,
                                        minDate: new Date(),
                                        onSelect: function (selectedDate) {

                                            var newDate = $(this).datepicker('getDate');
                                            if (newDate) { // Not null
                                                newDate.setDate(newDate.getDate() - 1);
                                            }
                                            $("#FromDate").datepicker("option", "maxDate", newDate);
                                        }
                                    });
                                    $('#Price').bind({
                                        click: function () {
                                            if (this.value == '0')
                                                this.value = '';
                                        },
                                        blur: function () {
                                            ConvertPriceText(this.value);
                                        },
                                        focusout: function () {
                                            ConvertPriceText(this.value);
                                        }
                                    });
                                    $('#Price1').bind({
                                        click: function () {
                                            if (this.value == '0')
                                                this.value = '';
                                        },
                                        blur: function () {
                                            ConvertPriceText1(this.value);
                                        },
                                        focusout: function () {
                                            ConvertPriceText1(this.value);
                                        }
                                    });

                                });
                                function ConvertPriceText(strTemp) {
                                    strTemp = strTemp.replace(/,/g, "");
                                    var priceTy = parseInt(strTemp / 1000000000, 0)
                                    var priceTrieu = parseInt((strTemp % 1000000000) / 1000000, 0)
                                    var priceNgan = parseInt(((strTemp % 1000000000)) % 1000000 / 1000, 0)
                                    var priceDong = parseInt(((strTemp % 1000000000)) % 1000000 % 1000, 0)
                                    var strTextPrice = ""

                                    if (priceTy > 0 && parseInt(strTemp, 0) > 900000000)
                                        strTextPrice = strTextPrice + " " + priceTy + " tỷ "
                                    if (priceTrieu > 0)
                                        strTextPrice = strTextPrice + " " + priceTrieu + "  triệu "
                                    if (priceNgan > 0)
                                        strTextPrice = strTextPrice + " " + priceNgan + "  nghìn ";

                                    if (priceTy > 0 || priceTrieu > 0 || priceNgan > 0 || priceDong > 0)
                                        strTextPrice = strTextPrice;
                                    $('#pricetext').html(strTextPrice);
                                }
                                function ConvertPriceText1(strTemp) {
                                    strTemp = strTemp.replace(/,/g, "");
                                    var priceTy = parseInt(strTemp / 1000000000, 0)
                                    var priceTrieu = parseInt((strTemp % 1000000000) / 1000000, 0)
                                    var priceNgan = parseInt(((strTemp % 1000000000)) % 1000000 / 1000, 0)
                                    var priceDong = parseInt(((strTemp % 1000000000)) % 1000000 % 1000, 0)
                                    var strTextPrice = ""

                                    if (priceTy > 0 && parseInt(strTemp, 0) > 900000000)
                                        strTextPrice = strTextPrice + " " + priceTy + " tỷ "
                                    if (priceTrieu > 0)
                                        strTextPrice = strTextPrice + " " + priceTrieu + "  triệu "
                                    if (priceNgan > 0)
                                        strTextPrice = strTextPrice + " " + priceNgan + "  nghìn ";

                                    if (priceTy > 0 || priceTrieu > 0 || priceNgan > 0 || priceDong > 0)
                                        strTextPrice = strTextPrice;
                                    $('#pricetext1').html(strTextPrice);
                                }
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.ToDate)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(p => p.ToDate, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Price)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Price, new { @class = "numerictextBox" })
                            <div style="font-weight: bold;" id="pricetext">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Price1)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Price1, new { @class = "numerictextBox" })
                            <div style="font-weight: bold;" id="pricetext1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            Ngày cuối tuần
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxList("dl", Model.DateList, null)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.NumberGuest)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.NumberGuest, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsContact)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsContact)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsActive)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsActive)
                        </td>
                    </tr>
                </table>
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
    
   
   
}
