@model Website.Areas.Administrator.Models.ApartmentPrice.EditApartmentPriceModel
@{
    ViewBag.Title = "Sửa Giá Căn hộ";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý Căn hộ >> @ViewBag.ApartmentName >> Sửa Giá Căn hộ
            </h1>
            <div class="buttons">
                <input type="submit" value="Lưu Thay Đổi" class="t-button" />
                @Html.ActionLink("Danh Sách Giá Căn hộ", "Index", "ApartmentPrice", new { id = ViewBag.ApartmentID }, new { @class = "t-button" })
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Description)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.Description)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Date)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @string.Format("{0:dd/MM/yyyy}", Model.Date)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Price)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Price, new { @class = "numerictextBox" })
                            <div style="font-weight: bold;" id="pricetext">
                            </div>
                            <script type="text/javascript">
                                $(function () {

                                    $('#Price').bind({
                                        click: function () {
                                            if (this.value == '0')
                                                this.value = '';
                                        },
                                        blur: function () {
                                            ConvertPriceText(this.value);
                                        },
                                        focusout: function () {
                                            ConvertPriceText(this.value);
                                        }
                                    });


                                });
                                function ConvertPriceText(strTemp) {
                                    strTemp = strTemp.replace(/,/g, "");
                                    var priceTy = parseInt(strTemp / 1000000000, 0)
                                    var priceTrieu = parseInt((strTemp % 1000000000) / 1000000, 0)
                                    var priceNgan = parseInt(((strTemp % 1000000000)) % 1000000 / 1000, 0)
                                    var priceDong = parseInt(((strTemp % 1000000000)) % 1000000 % 1000, 0)
                                    var strTextPrice = ""

                                    if (priceTy > 0 && parseInt(strTemp, 0) > 900000000)
                                        strTextPrice = strTextPrice + " " + priceTy + " tỷ "
                                    if (priceTrieu > 0)
                                        strTextPrice = strTextPrice + " " + priceTrieu + "  triệu "
                                    if (priceNgan > 0)
                                        strTextPrice = strTextPrice + " " + priceNgan + "  nghìn ";

                                    if (priceTy > 0 || priceTrieu > 0 || priceNgan > 0 || priceDong > 0)
                                        strTextPrice = strTextPrice;
                                    $('#pricetext').html(strTextPrice);
                                }
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.NumberGuest)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.NumberGuest, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                     <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsContact)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsContact)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsActive)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsActive)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    

    
}
