@model Website.Areas.Administrator.Models.User.ChangePasswordModel
@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "User"))
{  <div class="box">
    <div class="heading">
        <h1>
            <img alt="" src="/Content/Administrator/Images/category.png">
            Đổi Mật Khẩu</h1>
        <div class="buttons">
            <input type="submit" value="Đổi Mật Khẩu" class="t-button" />
        </div>
    </div>
    <div class="content">
        <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
            clear: both;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                <tr>
                    <td align="right" style="width: 20%" class="input_label">
                        @Html.LabelFor(u => u.CurrentPassword)<span class="star">(*)</span>
                    </td>
                    <td width="80%" align="left" class="input_textbox">
                        @Html.PasswordFor(u => u.CurrentPassword)
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 20%" class="input_label">
                        @Html.LabelFor(u => u.NewPassword)<span class="star">(*)</span>
                    </td>
                    <td width="80%" align="left" class="input_textbox">
                        @Html.PasswordFor(u => u.NewPassword)
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 20%" class="input_label">
                        @Html.LabelFor(u => u.ConfirmNewPassword)<span class="star">(*)</span>
                    </td>
                    <td width="80%" align="left" class="input_textbox">
                        @Html.PasswordFor(u => u.ConfirmNewPassword)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    @Html.ValidationSummary(false)
}
