@using Website.Model.Tour
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--tiêu chí SEO chính-->
        <title>@ViewBag.Title</title>
        <meta name="description" content="@ViewBag.Description" />
        <meta name="keyword" content="@ViewBag.KeyWords" />
        <meta name="robots" content="index,follow,all" />
        <meta name="revisit-after" content="1 days" />
        <meta name="language" content="VietNamese" />
        <!--end-->
        <!--quy định dữ liệu khi chia sẻ trên facebook-->
        <meta itemprop="name" content="@ViewBag.Title" />
        <meta itemprop="description" content="@ViewBag.Description" />
        <meta itemprop="image" content="@ViewBag.Image" />
        <!--end-->
        <!--quy định dữ liệu khi chia sẻ trên google plust-->
        <meta content="@ViewBag.Title" property="og:title" />
        <meta content="@ViewBag.Image" property="og:image" />
        <meta content="@ViewBag.Description" property="og:description" />
        <meta content="product" property="og:type" />
        

        <link rel="shortcut icon" href="@Url.Content("http://www.vietrip.vn/Logo.jpg")" type="image/x-icon" />
        <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/jquery.selectbox.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/jquery.ad-gallery.css")" />
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
        <link href="@Url.Content("~/Content/FrontEnd/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("/js/jquery.ad-gallery.js")"></script>
        <script type="text/javascript" src="@Url.Content("/js/jquery.reveal.js")"></script>
        @*   <script type="text/javascript" src="/js/custom_javascript.js"></script>*@
    
        <!-- Bootstrap -->
        <link href="@Url.Content("~/Content/FrontEnd/dist/css/bootstrap.css")" rel="stylesheet" media="screen">
        <link href="@Url.Content("~/Content/FrontEnd/assets/css/custom.css")" rel="stylesheet" media="screen">


        <link href="@Url.Content("~/Content/FrontEnd/examples/carousel/carousel.css")" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="@Url.Content("~/Content/FrontEnd/assets/js/html5shiv.js")"></script>
            <script src="@Url.Content("~/Content/FrontEnd/assets/js/respond.min.js")"></script>
        <![endif]-->
	
        <!-- Fonts -->	
        <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>	
        <!-- Font-Awesome -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FrontEnd/assets/css/font-awesome.css")" media="screen" />
        <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FrontEnd/assets/css/font-awesome-ie7.css")" media="screen" /><![endif]-->
	
        <!-- REVOLUTION BANNER CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FrontEnd/css/fullscreen.css")" media="screen" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FrontEnd/rs-plugin/css/settings.css")" media="screen" />
	
        <!-- Picker UI-->	
        <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/assets/css/jquery-ui.css")" />	
	
        <!-- bin/jquery.slider.min.css -->
        <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/plugins/jslider/css/jslider.css")" type="text/css">
        <link rel="stylesheet" href="@Url.Content("~/Content/FrontEnd/plugins/jslider/css/jslider.round-blue.css")" type="text/css">
	
        <!-- jQuery-->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/jquery.v2.0.3.js")"></script>
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/jquery-ui.js")"></script>	
	
        <!-- bin/jquery.slider.min.js -->
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/plugins/jslider/js/jshashtable-2.1_src.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/plugins/jslider/js/jquery.numberformatter-1.2.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/plugins/jslider/js/tmpl.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/plugins/jslider/js/jquery.dependClass-0.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/plugins/jslider/js/draggable-0.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/plugins/jslider/js/jquery.slider.js")"></script>
        <!-- end -->
        <link href="@Url.Content("~/Content/FrontEnd/custom/detail.css")" rel="stylesheet">
    
        <!-- Javascript -->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/js-details.js")"></script>
	
        <!-- Googlemap -->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/initialize-google-map.js")"></script>
	
        <!-- Custom Select -->
        <script type='text/javascript' src="@Url.Content("~/Content/FrontEnd/assets/js/jquery.customSelect.js")"></script>
	
        <!-- Custom functions -->
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/functions.js")"></script>

        <!-- Nicescroll  -->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/jquery.nicescroll.min.js")"></script>
	
        <!-- jQuery KenBurn Slider  -->
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/rs-plugin/js/jquery.themepunch.revolution.min.js")"></script>
	
        <!-- CarouFredSel -->
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/jquery.carouFredSel-6.2.1-packed.js")"></script>
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/helper-plugins/jquery.touchSwipe.min.js")"></script>
	
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/assets/js/helper-plugins/jquery.mousewheel.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/assets/js/helper-plugins/jquery.transit.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/FrontEnd/assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js")"></script>

        <!-- Counter -->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/counter.js")"></script>	
	
        <!-- Carousel-->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/initialize-carousel-detailspage.js")"></script>		
	
        <!-- Js Easing-->	
        <script src="@Url.Content("~/Content/FrontEnd/assets/js/jquery.easing.js")"></script>
	
        <!-- Bootstrap-->	
        <script src="@Url.Content("~/Content/FrontEnd/dist/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/core.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/sys.tour.detail.js")"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
   
        @{ Html.RenderAction("Analytics", "Config"); }
        <script>
            $(document).ready(function () {
                //$('#affix-nav').
                $(window).scroll(function () {
                    if ($(window).scrollTop() >= 720)
                        $('.navbar-wrapper2').hide();
                    else {
                        $('.navbar-wrapper2').show();
                    }
                });
                // Cache selectors
                var lastId,
                    topMenu = $("#sidebar"),
                    topMenuHeight = topMenu.outerHeight() + 15,
                    // All list items
                    menuItems = topMenu.find("a"),
                    // Anchors corresponding to menu items
                    scrollItems = menuItems.map(function () {
                        var item = $($(this).attr("href"));
                        if (item.length) { return item; }
                    });

                // Bind click handler to menu items
                // so we can get a fancy scroll animation
                menuItems.click(function (e) {
                    var href = $(this).attr("href"),
                        offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
                    $('html, body').stop().animate({
                        scrollTop: offsetTop
                    }, 300);
                    e.preventDefault();
                });

                // Bind to scroll
                $(window).scroll(function () {
                    // Get container scroll position
                    var fromTop = $(this).scrollTop() + topMenuHeight;

                    // Get id of current scroll item
                    var cur = scrollItems.map(function () {
                        if ($(this).offset().top < fromTop)
                            return this;
                    });
                    // Get the id of the current element
                    cur = cur[cur.length - 1];
                    var id = cur && cur.length ? cur[0].id : "";

                    if (lastId !== id) {
                        lastId = id;
                        // Set/remove active class
                        menuItems
                          .parent().removeClass("active")
                          .end().filter("[href=#" + id + "]").parent().addClass("active");
                    }
                });
            });
	</script>
</head>
    
<body id="top" class="thebg" data-spy="scroll" data-target="#affix-nav" >
	<div class="navbar-wrapper2 navbar-fixed-top">
      <div class="container">
		<div class="navbar mtnav">
			<div class="container offset-3">
                <!-- Navigation-->
                @{
                    var breadcrumb = ViewData["Breabcrumb"] == null ? new List<Breadcrumb>() : (List<Breadcrumb>)ViewData["Breabcrumb"];
                    var isVn = false;
                    var isForeign = false;
                    if(breadcrumb.Any(b => b.Display.ToLower() == "việt nam"))
                    {
                        isVn = true;
                    }else
                    {
                        isForeign = true;
                    }
                }
			  <div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
                  <a href="@Url.Action("Index","Home")" class="navbar-brand"><strong style="color: #72bf66;">100TOUR</strong>@*<img src="@Url.Content("~/Content/logovietrip.png")" alt="Vietrip" class="logo"/>*@</a>
			  </div>
			  <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
				  <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
				  <li class=""><a href="/viet-nam/all/p/">Free and Easy</a></li>
				  <li class=""><a href="/foreign/all/f/">Tour Nước Ngoài</a></li>
				</ul>
			  </div>
			  <!-- /Navigation-->			  
			</div>
        </div>
      </div>
    </div>
    
    @Html.Partial("_Breadcrumb")

    @RenderBody()
	<!-- CONTENT -->
	<div class="container">
        @{Html.RenderAction("RecruimentContent", "Account");}
        <div class="alert_pnl alert_success"></div>
        <div class="alert_pnl alert_fail"></div>
		<!-- END OF container-->
		@*<div id="affix-nav" style="position: relative" class="container mt25 offset-0">
            @{Html.RenderAction("Info", "Tour");}    			
            <div class="col-md-4" >
                @{Html.RenderAction("Support", "Tour");}
                <br/>
				@{Html.RenderAction("MayYouLike", "Tour");}	
				<br/>
				@{Html.RenderAction("History", "Tour");}		
			</div>
		</div>*@
	</div>
	<!-- END OF CONTENT -->
	<!-- FOOTER -->
    @{Html.RenderAction("Footer", "Tour");}
  </body>
</html>
