@model Website.Areas.Administrator.Models.District.CreateDistrictModel
@{
    ViewBag.Title = "Quản Lý >> Sữa Quận Huyện";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{ 
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý >> Sữa Quận Huyện</h1>
            <div class="buttons">
                <input type="submit" value="Lưu Thay Đổi" class="t-button" />
                @Html.ActionLink("Danh Sách Quận Huyện", "Index", null, new { @class = "t-button" })
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.NationalID)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.DropDownListFor(r => r.NationalID, Model.Nationals, "[ - - - Chọn Quốc Gia - - - ]")
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.ProvinceID)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.DropDownListFor(r => r.ProvinceID, Model.Provinces, "[ - - - Chọn Tỉnh Thành - - - ]")
                            <script type="text/javascript">
                                $('#NationalID').change(function () {
                                    var nationalID = $(this).val();
                                    var province = $('#ProvinceID');

                                    if (nationalID != null && nationalID != '') {
                                        $.getJSON('@Url.Action("SelectProvince")', { nationalID: nationalID }, function (list) {
                                            province.empty();
                                            province.append($('<option/>', {
                                                value: "",
                                                text: "[ - - Chọn Tỉnh Thành - - ]"
                                            }));

                                            $.each(list, function (index, info) {
                                                province.append($('<option/>', {
                                                    value: info.Value,
                                                    text: info.Text,
                                                    selected: info.Selected
                                                }));
                                            });
                                        });
                                    }
                                    else { }
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Name)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Name)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.PageTitle)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.PageTitle)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Description)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.Description)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.KeyWord)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.KeyWord)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Order)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Order, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsActive)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsActive)
                        </td>
                    </tr>
                </table>
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
}
