@model Website.Models.User.LogOnModel
@{
    ViewBag.Title = ".: Welcome to Administration Console :."; 
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml"; 
    }
@using (Html.BeginForm())
{     
    <div style="width: 625px; min-height: 400px; margin-top: 40px; margin-left: auto;
        margin-right: auto;" class="box">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/lockscreen.png">
                Bạn hãy điền tên đăng nhập</h1>
        </div>
        <div style="min-height: 250px;" class="content">
            <br />
            <br />
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td rowspan="4" style="text-align: center;">
                            <img alt="Xin nhập thông tin đăng nhập" src="/Content/Administrator/Images/login.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">
                            @Html.LabelFor(u => u.Email)<span class="star">(*)</span>:<br>
                            @Html.TextBoxFor(u => u.Email)
                            <br>
                            <br>
                            @Html.LabelFor(u => u.Password)<span class="star">(*)</span>:<br>
                            @Html.PasswordFor(u => u.Password, new { @style = "width:70% !important;" })
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">
                        </td>
                    </tr>
                    <tr>
                        <td class="style1" style="text-align: left; padding-top: 10px;">
                            <input type="submit" class="t-button" value="Đăng Nhập" />
                            @*  @Html.ActionLink("Quên mật khẩu", "ForgotPassword", "User", new { @class = "t-button" })*@
                        </td>
                    </tr>
                </tbody>
            </table>
            @Html.ValidationSummary(false)
        </div>
    </div>
}