@model List<Website.Model.Tour.TourDisplay>
@{
    var tours = Model;
}
<div class="pagecontainer2 mt20 alsolikebox">
	<div class="cpadding1">
		<span class="icon-location"></span>
		<h3>Có Thể Bạn Quan Tâm?</h3>
		<div class="clearfix"></div>
	</div>
	@if (tours != null && tours.Count > 0)
    {
        foreach (var tour in tours)
        {
            <div class="cpadding1 ">
		        <a href="@tour.LinkToDetail"><img src="@tour.AvatarUrl" class="left mr20" alt="@tour.AvatarPic.Alt" style="max-width: 270px;"/></a>
		        <a href="@tour.LinkToDetail" class="dark"><b >@tour.Name</b></a><br/>
		        <span class="grey">@string.Format("{0}N{1}Đ", tour.Duration, tour.Duration-1)</span><br/>
		        <img src="@Url.Content("~/Content/FrontEnd/images/filter-rating-5.png")" alt=""/>
	        </div>
	        <div class="line5"></div>
        } 
    }else
    {
        <div class="cpadding1 ">
            Không có dữ liệu
        </div>
    }
</div>