@using Domain
@{
    var phones = ViewBag.Phone == null ? null : (List<Support>)ViewBag.Phone;
    var skypes = ViewBag.Skype == null ? null : (List<Support>)ViewBag.Skype;
    var yhs = ViewBag.Yahoo == null ? null : (List<Support>)ViewBag.Yahoo;
}
<div class="pagecontainer2 mt20 needassistancebox" style="margin-top: 0px;">
	<div class="cpadding1">
		<span class="icon-help"></span>
        <h3>Hỗ trợ 24/7</h3>
        <table>
            @if(phones != null)
            {
                foreach (var support in phones)
                {
                    <tr>
                        <td><p class="opensans size30 green xslim">@support.Value</p></td>
                    </tr>
                }
            }
        </table>
		<hr/>
        <table>
            <tr>
                @if(skypes != null)
                {
                    foreach (var skype in skypes)
                    {
                        var link = string.Format("skype:{0}?call", skype.Value);
                        <td>
                            <a href="@link">
                                <img width="50" src="@Url.Content("~/Content/FrontEnd/custom/icon-skype.png")" />
                                @skype.Name
                            </a>
                        </td>
                    }
                }
            </tr>
            <tr>
                @if(yhs != null)
                {
                    foreach (var yh in yhs)
                    {
                        var link = string.Format("ymsgr:sendim?{0}", yh.Value);
                        <td>
                            <a href="@link">
                                <img width="50" src="@Url.Content("~/Content/FrontEnd/custom/icon-yahoo.png")" />
                            </a>
                            @yh.Name
                        </td>
                    }
                     
                }  
            </tr>
        </table>
	</div>
</div>