@model List<Domain.Area>
@using (Html.BeginForm())
{ 
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý >> Khu Vực</h1>
            <div class="buttons">
                @Html.ActionLink("+ Thêm Mới Khu Vực", "Create", null, new { @class = "t-button" })
                <input type="submit" name="Delete" value="Xóa Khu Vực" class="t-button" />
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tbody>
                        <tr>
                            <td class="box_tool">
                                <label>
                                    Quốc gia:</label>
                                @Html.DropDownList("NationalList", ViewBag.NationalList as SelectList, "[ --- Chọn Quốc Gia --- ]")
                                <label>
                                    Tỉnh thành:</label>
                                @Html.DropDownList("ProvinceList", ViewBag.NationalList as SelectList, "[ --- Chọn Tỉnh Thành --- ]")
                                <label>
                                    Quận Huyện:</label>
                                @Html.DropDownList("DistrictList", ViewBag.DistrictList as SelectList, "[ --- Chọn Quận Huyện --- ]")
                                <script type="text/javascript">
                                    $('#NationalList').change(function () {
                                        var nationalID = $(this).val();
                                        var province = $('#ProvinceList');

                                        if (nationalID != null && nationalID != '') {
                                            $.getJSON('@Url.Action("SelectProvince")', { nationalID: nationalID }, function (list) {
                                                province.empty();
                                                province.append($('<option/>', {
                                                    value: "",
                                                    text: "[ - - Chọn Tỉnh Thành - - ]"
                                                }));

                                                $.each(list, function (index, info) {
                                                    province.append($('<option/>', {
                                                        value: info.Value,
                                                        text: info.Text,
                                                        selected: info.Selected
                                                    }));
                                                });
                                            });
                                        }
                                        else { }
                                    });

                                    $().ready(function () {
                                        $('#ProvinceList').change(function () {
                                            var ProvinceID = $(this).val();
                                            var DistrictID = $('#DistrictList');

                                            if (ProvinceID != null && ProvinceID != '') {
                                                $.getJSON('@Url.Action("SelectDistrict")', { provinceID: ProvinceID }, function (list) {
                                                    DistrictID.empty();
                                                    DistrictID.append($('<option/>', {
                                                        value: "",
                                                        text: "[ - - Chọn Quận Huyện - - ]"
                                                    }));

                                                    $.each(list, function (index, info) {
                                                        DistrictID.append($('<option/>', {
                                                            value: info.Value,
                                                            text: info.Text,
                                                            selected: info.Selected
                                                        }));
                                                    });
                                                });
                                            }
                                            else { }
                                        });
                                    });
                                </script>
                                <input type="submit" name="Search" value="Tìm" class="t-button" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @(Html.Telerik().Grid(Model)
        .Name("Grid")
                 .DataKeys(keys => keys.Add(c => c.ID))

        .Columns(columns =>
        {
            columns.Bound(o => o.Name).Template(@<text>@Html.ActionLink(@item.Name, "Edit", new { id = @item.ID })</text>);
            columns.Bound(o => o.Order).Width("4%").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.CreatedDate).Title("Ngày tạo").Format("{0:dd/MM/yyyy}").HeaderHtmlAttributes(new { style = "text-align:center" }).Width("10%").HtmlAttributes(new { style = "text-align:center" });
            //columns.Bound(o => o.User.Email).Title("Tạo bởi").Width("10%").HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.IsActive).HeaderHtmlAttributes(new { style = "text-align:center" }).Width("8%").HtmlAttributes(new { style = "text-align:center" });
            columns.Template(@<text><input name="checkedRecords" id="checkedRecords" type="checkbox"  value="@item.ID " title="checkedRecords"/></text>)
                  .HeaderTemplate(@<text><input type="checkbox" title="check all records" id="checkAllRecords" /></text>)
                  .Width("4%")
                  .HeaderHtmlAttributes(new { style = "text-align:center" })
                  .HtmlAttributes(new { style = "text-align:center" });


        })
       .Pageable(paging => paging.PageSize(50))
       .Sortable(sorting => sorting
       .OrderBy(sortOrder => sortOrder.Add(o => o.CreatedDate).Descending()))
)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
       
    
   
}
@{ Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> $('#checkAllRecords').click(function
    checkAll() { $("#Grid tbody #checkedRecords").attr("checked", this.checked); });
    </text>); }
