@using Service.Helpers
@using Domain
@model List<Category>
@if (Model != null && Model.Count > 0)
{
    int currentID = Protector.Int(ViewBag.Active);
    
    
    <ul>
        @for (int i = Model.Count - 1; i >= 0; i--)
        {
            if (currentID == Model[i].ID)
            {
            <li class="current"><a href="@Model[i].Url" title="@Model[i].Name">@Model[i].Name</a></li>
            }
            else
            {
            <li><a title="@Model[i].Name" href="@Model[i].Url">@Model[i].Name</a></li>
            }
        }
    </ul>
}