@using Service.Helpers
@model List<Domain.Social>
@{
    var socials = Model;    
}
<div class="footerbg lcfix">
	<div class="container">		
		<footer>
            <div class="footer">
                @if(socials != null)
                {
                    var i = 1;
                    foreach (var social in socials)
                    {
                        var classLink = string.Format("social{0}", i); 
                        <a href="@social.Link" class="@classLink"><img src="@social.ICon" alt="@social.Name" width="38px" height="38px"/></a>
                        i++;
                    }
                }
                
                <br/><br/>
                <p>Công ty TNHH MTV Du Lịch VIETRIP (VIETRIP TRAVEL CO., LTD)</p>
                <p>Địa chỉ: 137 Hoa Lan, P2, Q.Phú Nhuận, TPHCM</p>
                <p>Điện thoại: Từ 8h đến 17h: 08.35173818 - 08 35170183 - 08 35173083</p>
                <p>Email: info@vietrip.vn - sale5@vietrip.vn</p>
                <a href="http://vietrip.vn">www.vietrip.vn</a>
				<br/><br/>
                <a href="#top" id="gotop2" class="gotop"><img src="@Url.Content("~/Content/FrontEnd/images/spacer.png")" alt=""/></a>
            </div>
		</footer>
	</div>	
</div>