<script type="text/javascript">
    $(document).ready(function() {
        sys.search.index.search.initPage();
    });
</script>

<style type="text/css">
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-color: #72bf66;
    background-image: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0;
    font-size: 14px;
      color: #fff;
}
  .ui-menu-item {
      margin-top: 5px;
      margin-bottom: 5px;   
      font-size: 14px;
  }
  .ui-menu {
      background: white !important;
    }
</style>

<div class="hpadding20">
	<!-- Top filters -->
	<div class="topsortby">
		<div class="col-md-9">
			<div class="w50percent">
				<div class="wh90percent textleft">
					<span class="opensans size13"><b>Khởi hành</b></span>
                    <input id="search_depart_province" type="text" class="form-control" placeholder="Hồ Chí Minh" value="@ViewBag.DepartProvinceName">
                    <input id="departadministrative_area_level_1" type="hidden" name="home-province" value="@ViewBag.DepartProvinceName"/>
                    <input id="departcountry" type="hidden" name="depart-home-national" value="@ViewBag.DepartNational"/>
                    <input type="hidden" name="search-province-url" value="@Url.Action("SearchProvince", "Foreign")"/>
				</div>
			</div>

			<div class="w50percentlast">
				<div class="wh90percent textleft right">
					<span class="opensans size13"><b>Nơi đến</b></span>
                    <input id="search_dest_province" type="text" class="form-control" placeholder="bất kỳ đâu" value="@ViewBag.DestProvinceName">
                    <input id="destadministrative_area_level_1" type="hidden" name="home-province" value="@ViewBag.DestProvinceName"/>
                    <input id="destcountry" type="hidden" name="dest-home-national" value="@ViewBag.DestNational"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="w50percent">
				<div class="wh90percent textleft">
					<div>&nbsp;</div>
					<button id="search_tour_submit" class="popularbtn left">Tìm</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End of topfilters-->
</div>