@model Website.Areas.Administrator.Models.ApartmentPicture.EditApartmentPictureModel
@{
    ViewBag.Title = "Quản Lý >> Căn Hộ >>" + ViewBag.ApartmentName + " >> Sửa Hình Ảnh";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using Service.Helpers;
@using (Html.BeginForm("Edit", "ApartmentPicture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png" />
                Quản Lý >> Căn Hộ >> <span style="color: Red;">@ViewBag.ApartmentName </span>>> Sửa
                Hình Ảnh</h1>
            <div class="buttons">
                <input type="submit" value="Lưu Thay Đổi" class="t-button" />
                @Html.ActionLink("Danh Sách Hình Ảnh Căn Hộ", "Index", new { id = Protector.String(ViewBag.ApartmentID) }, new { @class = "t-button" })
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Alt)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.Alt)
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(ViewBag.FilePath))
                    {
                        <tr>
                            <td align="right" style="width: 20%" class="input_label">
                                Tệp tin hiện tại
                            </td>
                            <td width="80%" align="left" class="input_textbox">
                                <a href="@Service.Helpers.FileHelper.GetApartment_Picture(Protector.String(ViewBag.FilePath), Protector.Int(ViewBag.ApartmentID))" class="group3">
                                    <img src="@Service.Helpers.FileHelper.GetApartment_Picture(Protector.String(ViewBag.FilePath), Protector.Int(ViewBag.ApartmentID))" width="200px" />
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $(".group3").colorbox({ rel: 'group3', transition: "none", width: "75%", height: "75%" });
                                        });
                                    </script>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.File)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(u => u.File, new { @type = "file" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Order)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Order, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsAvartar)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsAvartar)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsActive)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsActive)
                        </td>
                    </tr>
                </table>
            </div>
            @Html.ValidationSummary(false)
        </div>
    </div>
}