@model Website.Areas.Administrator.Models.Province.CreateProvinceModel
@using Service.Helpers
@{
    ViewBag.Title = "Quản Lý >> Sữa Tỉnh Thành";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        var $unique = $('input[name="p"]');
        $unique.click(function () {
            $unique.filter(':checked').not(this).removeAttr('checked');
        });
    });
</script>

@using (Html.BeginForm("Edit", "Province", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    
    <div class="box">
        <div class="heading">
            <h1>
                <img alt="" src="/Content/Administrator/Images/category.png">
                Quản Lý >> Sữa Tỉnh Thành</h1>
            <div class="buttons">
                <input type="submit" value="Lưu Thay Đổi" class="t-button" />
                @Html.ActionLink("Danh Sách Tỉnh Thành", "Index", null, new { @class = "t-button" })
            </div>
        </div>
        <div class="content">
            <div style="display: inline-block; width: 100%; margin-bottom: 15px; margin-top: 15px;
                clear: both;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="box_into">
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.NationalID)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.DropDownListFor(r => r.NationalID, Model.Nationals, "[ - - - Chọn Quốc Gia - - - ]")
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Name)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Name)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.PageTitle)<span class="star">(*)</span>
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.PageTitle)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Url)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Url)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Description)<span class="star">(*)</span>
                            Chuỗi phải có độ dài 144 kí tự
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.Description)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.KeyWord)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextAreaFor(r => r.KeyWord)
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.Order)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(r => r.Order, new { @class = "numerictextBox" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            Vị trí
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            <div class="checkboxlist">
                                @foreach (SelectListItem p in Model.Positions)
                                {
                                    if (Protector.Int(p.Value) == Model.Position)
                                    { 
                                    <input type="checkbox" value="@p.Value" checked="checked" name="p" id="p" /><label>@p.Text</label>
                                    }
                                    else
                                    { 
                                    <input type="checkbox" value="@p.Value" name="p" id="p" /><label>@p.Text</label>
                                    }
                                }
                              @*  @Html.CheckBoxList("p", Model.Positions, null)*@
                            </div>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.Avartar))
                    { 
                
                        <tr>
                            <td align="right" style="width: 20%" class="input_label">
                                @Html.LabelFor(r => r.Avartar)
                            </td>
                            <td width="80%" align="left" class="input_textbox">
                                <img src="@FileHelper.GetProvince_Picture(Model.Avartar, Model.ProvinceID)" width="200px" />
                            </td>
                        </tr>
           
            
            
                    }
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.FAvartar)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.TextBoxFor(u => u.FAvartar, new { @type = "file" })<span style="color: Red;">(
                                max 200px )</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="width: 20%" class="input_label">
                            @Html.LabelFor(r => r.IsActive)
                        </td>
                        <td width="80%" align="left" class="input_textbox">
                            @Html.CheckBoxFor(r => r.IsActive)
                        </td>
                    </tr>
                </table>
                @Html.ValidationSummary(false)
            </div>
        </div>
    </div>
}
